In [6]:
# set environment and import packages
import os
from pandas import read_csv
import pandas as pd
import geopandas as gps
import matplotlib.pyplot as plt
import seaborn as sns
from os import listdir
os.chdir('/Volumes/GoogleDrive/My Drive/BEAM-CORE/Task3 Freight/Validation')

# import local python modules
import constants as c

In [7]:
sctg_group_lookup = read_csv(c.param_dir + c.sctg_group_lookup_file, sep = ',')
mesozone_lookup = read_csv(c.param_dir + c.mesozone_id_lookup_file, sep = ',')

truck_mode = ['For-hire Truck', 'Private Truck']
max_ton_lookup = {'sctg1': 218.327, 'sctg2': 51.13091, 'sctg3': 94.56035, 'sctg4': 4.4861, 'sctg5': 51.64694}

In [15]:
combined_modeled_OD = None
mode_choide_by_commodity = None
combined_truck_output = None
for sctg in c.list_of_sctg_group:
    print(sctg)
    b2b_dir = c.input_dir + sctg
    list_of_b2b_files = listdir(b2b_dir)
    iterator = 0
    cut_off_point = max_ton_lookup[sctg] # shipment capacity for this shipment
    for file in list_of_b2b_files:
        if iterator%10 == 0:
            print(iterator)
        modeled_OD_by_sctg = read_csv(b2b_dir + '/' + file, sep = ',')
#         print(modeled_OD_by_sctg.columns)
        list_of_var = ['BuyerID', 'BuyerZone', 'BuyerNAICS', 'SellerID',
           'SellerZone', 'SellerNAICS', 'TruckLoad', 'SCTG_Group', 
           'shipment_id', 'orig_FAFID', 'dest_FAFID', 
           'mode_choice', 'probability', 'Distance', 'Travel_time']
#         print(modeled_OD_by_sctg.head(5))
        truck_output = modeled_OD_by_sctg.loc[modeled_OD_by_sctg['mode_choice'].isin(truck_mode), list_of_var]
        int_var = ['BuyerID', 'BuyerZone', 'SellerID',
           'SellerZone', 'SCTG_Group', 
           'shipment_id', 'orig_FAFID', 'dest_FAFID']
        truck_output.loc[:, int_var] = truck_output.loc[:, int_var].astype(int)
        truck_output.to_csv(c.input_dir + sctg + '_truck/truck_only_OD_' + sctg + '_' + 
                            str(iterator) + '.csv', index = False)
#         if len(truck_output) > 0:
#             combined_truck_output = pd.concat([combined_truck_output, truck_output])
        # process aggregated shipment count and tonmile for CFS
#         mode_choice_aggregated = modeled_OD_by_sctg.groupby(['mode_choice', 'SCTG_Group', 'in_study_area'])[['shipment_id']].count()
#         mode_choice_aggregated = mode_choice_aggregated.reset_index()
#         modeled_OD_by_sctg.loc[:, 'tonmile'] = modeled_OD_by_sctg.loc[:, 'TruckLoad'] * modeled_OD_by_sctg.loc[:, 'Distance']
#         distance_and_weight_aggregated = modeled_OD_by_sctg.groupby(['mode_choice', 'SCTG_Group', 'in_study_area'])[['TruckLoad', 'tonmile']].sum()

        
#         mode_choice_aggregated = pd.merge(mode_choice_aggregated, distance_and_weight_aggregated, 
#                                           on = ['mode_choice', 'SCTG_Group', 'in_study_area'], how = 'left')
#         mode_choice_aggregated.loc[:, 'SCTG_Group'] = c.sctg_def[sctg]
#         mode_choice_aggregated.loc[:, 'chunk_id'] = iterator
#         mode_choide_by_commodity = pd.concat([mode_choide_by_commodity, mode_choice_aggregated])
        
        ## compute national shipment count and tonmile
        modeled_OD_by_sctg['ShipmentLoad'] = modeled_OD_by_sctg['TruckLoad'] / 1000 # convert to thousand tons
        
        #print(cut_off_point)
        modeled_OD_by_sctg.loc[modeled_OD_by_sctg['ShipmentLoad'] > cut_off_point, 'ShipmentLoad'] = cut_off_point
        modeled_OD_by_sctg['tmiles'] = modeled_OD_by_sctg['ShipmentLoad'] * 1000 * modeled_OD_by_sctg['Distance']
        modeled_OD_by_sctg = pd.merge(modeled_OD_by_sctg, mesozone_lookup, 
                                      left_on = ['SellerZone', 'orig_FAFID'], 
                                    right_on = ['MESOZONE', 'FAFID'], how = 'left')
        modeled_OD_by_sctg = modeled_OD_by_sctg.rename(columns={"GEOID": "orig_GEOID",
                                                                "CBPZONE": "orig_CBPZONE", 
                                                                "MESOZONE":"orig_MESOZONE", 
                                                                "FAFNAME":"orig_FAFNAME"})
        modeled_OD_by_sctg = pd.merge(modeled_OD_by_sctg, mesozone_lookup, 
                                      left_on = ['BuyerZone', 'dest_FAFID'], 
                                    right_on = ['MESOZONE', 'FAFID'], how = 'left')
        modeled_OD_by_sctg = modeled_OD_by_sctg.rename(columns={"GEOID": "dest_GEOID", 
                                                                "CBPZONE": "dest_CBPZONE", 
                                                                "MESOZONE":"dest_MESOZONE", 
                                                               "FAFNAME":"dest_FAFNAME"})    
        agg_OD_by_sctg = modeled_OD_by_sctg.groupby(["orig_FAFID", "orig_FAFNAME", "dest_FAFID", "dest_FAFNAME", "SCTG_Group", 'mode_choice'])[['tmiles', 'ShipmentLoad']].sum()        
        agg_OD_by_sctg = agg_OD_by_sctg.reset_index()
        agg_count_by_sctg = modeled_OD_by_sctg.groupby(["orig_FAFID", "orig_FAFNAME", "dest_FAFID", "dest_FAFNAME", "SCTG_Group", 'mode_choice'])[['shipment_id']].count() 
        agg_count_by_sctg = agg_count_by_sctg.reset_index()
        agg_OD_by_sctg = pd.merge(agg_OD_by_sctg, agg_count_by_sctg, 
                                  on = ["orig_FAFID", "orig_FAFNAME", "dest_FAFID", "dest_FAFNAME", "SCTG_Group", 'mode_choice'],
                                  how = 'left')
        agg_OD_by_sctg = agg_OD_by_sctg.rename(columns={"shipment_id": "count"})
        agg_OD_by_sctg.loc[:, 'SCTG_Name'] = c.sctg_def[sctg]
        agg_OD_by_sctg.loc[:, 'chunk_id'] = iterator
        combined_modeled_OD = pd.concat([combined_modeled_OD, agg_OD_by_sctg], sort = False)
        iterator += 1 
#         break        
#     break
#     combined_truck_output.to_csv(c.input_dir + 'truck_only_OD_' + sctg + '.csv', index = False)
# combined_modeled_OD = pd.merge(combined_modeled_OD, sctg_group_definition, on = ['SCTG_Group'], how = 'left')
combined_modeled_OD.head(10)

sctg1
0

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

10
sctg2
0
10
20

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

30
sctg3
0
10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200
210
220
230
240
250
260
270
280
sctg4
0
10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200
210
220
230
240
250
260
270
280
290
300
310
320
330
sctg5
0
10
20
30

,orig_FAFID,orig_FAFNAME,dest_FAFID,dest_FAFNAME,SCTG_Group,mode_choice,tmiles,ShipmentLoad,count,SCTG_Name,chunk_id
0,11.0,Birmingham,11.0,Birmingham,1.0,For-hire Truck,0.000000e+00,0.513019,32,bulk,0
1,11.0,Birmingham,11.0,Birmingham,1.0,Parcel,0.000000e+00,0.149660,10,bulk,0
2,11.0,Birmingham,11.0,Birmingham,1.0,Private Truck,0.000000e+00,0.389157,48,bulk,0
3,11.0,Birmingham,11.0,Birmingham,1.0,Rail/IMX,0.000000e+00,1.378061,5,bulk,0
4,11.0,Birmingham,62.0,Sacramento,1.0,For-hire Truck,2.429901e+07,8.798920,577,bulk,0
5,11.0,Birmingham,62.0,Sacramento,1.0,Parcel,2.636676e+08,135.904601,187,bulk,0
6,11.0,Birmingham,62.0,Sacramento,1.0,Rail/IMX,4.265382e+08,165.770119,462,bulk,0
7,11.0,Birmingham,64.0,San Francisco,1.0,Air,3.926664e+04,0.019706,1,bulk,0
8,11.0,Birmingham,64.0,San Francisco,1.0,For-hire Truck,1.133715e+08,42.170632,2434,bulk,0
9,11.0,Birmingham,64.0,San Francisco,1.0,Parcel,1.235534e+09,620.053817,891,bulk,0

In [4]:
combined_modeled_OD_agg = combined_modeled_OD.groupby(["orig_FAFID", "orig_FAFNAME", "dest_FAFID", \
                                                       "dest_FAFNAME", "SCTG_Group", 'SCTG_Name',
                                                       'mode_choice'])[['tmiles', 'ShipmentLoad', 'count']].sum()
combined_modeled_OD_agg = combined_modeled_OD_agg.reset_index()
combined_modeled_OD_agg.head(5)
combined_modeled_OD_agg.loc[:, 'in_study_area'] = 0
buffer = combined_modeled_OD_agg.loc[:, 'orig_FAFID'].isin(c.bay_area_region_code) | \
        combined_modeled_OD_agg.loc[:, 'dest_FAFID'].isin(c.bay_area_region_code)
combined_modeled_OD_agg.loc[buffer, 'in_study_area'] = 1

combined_modeled_OD_agg.loc[:, 'outbound'] = 0
combined_modeled_OD_agg.loc[combined_modeled_OD_agg.loc[:, 'orig_FAFID'].isin(c.bay_area_region_code), 'outbound'] = 1

combined_modeled_OD_agg.loc[:, 'inbound'] = 0
combined_modeled_OD_agg.loc[combined_modeled_OD_agg.loc[:, 'dest_FAFID'].isin(c.bay_area_region_code), 'inbound'] = 1

combined_modeled_OD_agg.loc[:, 'orig_FAFID'] = combined_modeled_OD_agg.loc[:, 'orig_FAFID'].astype(int)
combined_modeled_OD_agg.loc[:, 'dest_FAFID'] = combined_modeled_OD_agg.loc[:, 'dest_FAFID'].astype(int)
combined_modeled_OD_agg.loc[:, 'SCTG_Group'] = combined_modeled_OD_agg.loc[:, 'SCTG_Group'].astype(int)
combined_modeled_OD_agg.loc[:, 'Distance'] = combined_modeled_OD_agg.loc[:, 'tmiles'] / 1000 / combined_modeled_OD_agg.loc[:, 'ShipmentLoad']
combined_modeled_OD_agg.head(10)

,orig_FAFID,orig_FAFNAME,dest_FAFID,dest_FAFNAME,SCTG_Group,SCTG_Name,mode_choice,tmiles,ShipmentLoad,count,in_study_area,outbound,inbound,Distance
0,11,Birmingham,11,Birmingham,1,bulk,Air,0.0,0.018885,1,0,0,0,0.0
1,11,Birmingham,11,Birmingham,1,bulk,For-hire Truck,0.0,46.896912,736,0,0,0,0.0
2,11,Birmingham,11,Birmingham,1,bulk,Parcel,0.0,2.035300,106,0,0,0,0.0
3,11,Birmingham,11,Birmingham,1,bulk,Private Truck,0.0,52.453454,1042,0,0,0,0.0
4,11,Birmingham,11,Birmingham,1,bulk,Rail/IMX,0.0,2737.854993,275,0,0,0,0.0
5,11,Birmingham,11,Birmingham,2,fuel_fert,Air,0.0,0.000937,1,0,0,0,0.0
6,11,Birmingham,11,Birmingham,2,fuel_fert,For-hire Truck,0.0,43.248891,3155,0,0,0,0.0
7,11,Birmingham,11,Birmingham,2,fuel_fert,Parcel,0.0,1.002443,561,0,0,0,0.0
8,11,Birmingham,11,Birmingham,2,fuel_fert,Private Truck,0.0,60.444929,10417,0,0,0,0.0
9,11,Birmingham,11,Birmingham,2,fuel_fert,Rail/IMX,0.0,366.881124,225,0,0,0,0.0

In [5]:
combined_modeled_OD_agg.to_csv(c.input_dir + 'processed_b2b_flow_summary.csv', sep = ',')