In [2]:
import pandas as pd
import sqlite3
import pandas as pd
import geopandas as gps
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import os
warnings.filterwarnings("ignore")

data_path = '/Users/xiaodanxu/Library/CloudStorage/GoogleDrive-arielinseu@gmail.com/My Drive/BEAM-CORE/Lab call/PSRC/v3.0.0_2018_2050/'
os.chdir(data_path)

In [7]:
soundcast_input_db = 'db/soundcast_inputs.db'
db_con = sqlite3.connect(soundcast_input_db)

In [9]:
db_cur = db_con.cursor()
db_cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(db_cur.fetchall())

[('externals_db',), ('externals_unadjusted',), ('external_trip_distribution',), ('enlisted_personnel',), ('base_year_scaling',), ('parking_zones',), ('psrc_zones',), ('job_trip_rates',), ('auto_externals',), ('group_quarters',), ('trip_rates',), ('special_generators',), ('rate_adjustments',), ('jblm_trips',), ('gravity_model_coefficients',), ('ixxi_mode_share',), ('mode_choice_parameters',), ('time_of_day_factors',), ('heavy_trucks',), ('truck_operating_costs',), ('truck_inputs',), ('seatac',), ('observed_transit_boardings',), ('hourly_counts',), ('acs_commute_mode_by_workplace_geog',), ('acs_commute_mode_home_tract',), ('district_worker_flows',), ('external_nonwork',), ('observed_corridor_speed',), ('light_rail_station_boardings',), ('taz_geography',), ('parcel_2014_geography',), ('running_emission_rates',), ('start_emission_rates',), ('job_attractions',), ('job_productions',), ('truck_time_of_day_factors',), ('daily_counts',), ('observed_external_volumes',), ('observed_screenline_volumes',), ('vehicle_population',), ('light_rail_station_targets',), ('observed_auto_ownership_acs_block_group',), ('observed_bike_volumes',), ('parking_costs',), ('running_emission_rates_by_veh_type',), ('start_emission_rates_by_veh_type',), ('observed_od_travel_times',), ('parcel_2018_geography',)]

In [10]:
res = db_cur.execute("SELECT name FROM sqlite_master")
print(db_cur.fetchall())

[('externals_db',), ('externals_unadjusted',), ('external_trip_distribution',), ('enlisted_personnel',), ('base_year_scaling',), ('parking_zones',), ('psrc_zones',), ('job_trip_rates',), ('auto_externals',), ('group_quarters',), ('trip_rates',), ('special_generators',), ('rate_adjustments',), ('jblm_trips',), ('gravity_model_coefficients',), ('ixxi_mode_share',), ('mode_choice_parameters',), ('time_of_day_factors',), ('heavy_trucks',), ('truck_operating_costs',), ('truck_inputs',), ('seatac',), ('observed_transit_boardings',), ('hourly_counts',), ('acs_commute_mode_by_workplace_geog',), ('acs_commute_mode_home_tract',), ('district_worker_flows',), ('external_nonwork',), ('observed_corridor_speed',), ('light_rail_station_boardings',), ('taz_geography',), ('parcel_2014_geography',), ('running_emission_rates',), ('start_emission_rates',), ('job_attractions',), ('job_productions',), ('truck_time_of_day_factors',), ('daily_counts',), ('observed_external_volumes',), ('observed_screenline_volumes',), ('vehicle_population',), ('light_rail_station_targets',), ('observed_auto_ownership_acs_block_group',), ('observed_bike_volumes',), ('parking_costs',), ('running_emission_rates_by_veh_type',), ('start_emission_rates_by_veh_type',), ('observed_od_travel_times',), ('parcel_2018_geography',)]

In [12]:
# TRY LOAD PSRC ZONE
psrc_zones_df = pd.read_sql_query("SELECT * FROM psrc_zones", db_con)
psrc_zones_df.head(5)

   record  taz county  jblm  external
0       1    1   King     0         0
1       2    2   King     0         0
2       3    3   King     0         0
3       4    4   King     0         0
4       5    5   King     0         0

In [13]:
# LOAD PARCEL
parcel_2018_df = pd.read_sql_query("SELECT * FROM parcel_2018_geography", db_con)
parcel_2018_df.head(5)

,field1,ParcelID,rg_proposed,CityName,Census2010Block,Census2010BlockGroup,Census2010Tract,minority_geog,poverty_geog,GrowthCenterName,...,elderly_geog_vs_50_percent,elderly_geog_vs_reg_total,english_geog_vs_50_percent,english_geog_vs_reg_total,poverty_geog_vs_50_percent,poverty_geog_vs_reg_total,racial_geog_vs_50_percent,racial_geog_vs_reg_total,youth_geog_vs_50_percent,youth_geog_vs_reg_total
0,0,1,Core,Kent,5.303303e+14,5.303303e+11,5.303303e+10,2,1,Kent MIC,...,0,1,0,1,0,1,1,1,0,0
1,1,2,Core,Kent,5.303303e+14,5.303303e+11,5.303303e+10,2,1,Kent MIC,...,0,1,0,1,0,1,1,1,0,0
2,2,3,Core,Kent,5.303303e+14,5.303303e+11,5.303303e+10,2,1,Kent MIC,...,0,1,0,1,0,1,1,1,0,0
3,3,4,Core,Kent,5.303303e+14,5.303303e+11,5.303303e+10,2,1,Kent MIC,...,0,1,0,1,0,1,1,1,0,0
4,4,5,Core,Kent,5.303303e+14,5.303303e+11,5.303303e+10,2,1,Kent MIC,...,0,1,0,1,0,1,1,1,0,0

In [16]:
print(parcel_2018_df[['place_name', 'parcel_id_y']].head(10))

  place_name  parcel_id_y
0       Kent            1
1       Kent            2
2       Kent            3
3       Kent            4
4       Kent            5
5       Kent            6
6       Kent            7
7       Kent            8
8       Kent            9
9       Kent           10

In [20]:
truck_volume_df = pd.read_sql_query("SELECT * FROM heavy_trucks", db_con)
print(len(truck_volume_df))
print(truck_volume_df.columns)
truck_volume_df.head(5)
truck_volume_df.to_csv('truck_volume.csv', index = False)

994
Index(['record', 'atri_zone', 'taz', 'year', 'htkpro', 'htkatt'], dtype='object')